CompileFlags:
  CompilationDatabase: /Users/pc/ESP_IDF/esp32_projects/smart-home-mqtt/build
  Remove: [-m*, -f*]
  Add: [--target=xtensa-esp32-elf, -I/Users/pc/.espressif/tools/xtensa-esp-elf/esp-14.2.0_20241119/xtensa-esp-elf/xtensa-esp-elf/include,
    -I/Users/pc/.espressif/tools/xtensa-esp-elf/esp-14.2.0_20241119/xtensa-esp-elf/xtensa-esp-elf/include/c++/14.2.0,
    -I/Users/pc/.espressif/tools/xtensa-esp-elf/esp-14.2.0_20241119/xtensa-esp-elf/xtensa-esp-elf/include/c++/14.2.0/xtensa-esp-elf/esp32]
